@model List<CakeOrder>
@{
    ViewBag.Title = "Cake Orders";
}
@section ScriptSection {
    <script>
        function ConfirmDelete() {
            if (confirm("confirm to delete") == false) {
                event.preventDefault();
                event.stopPropagation();
                return false;
            }
        }
    </script>
}
<h2>Cake Orders</h2>
<span style="color:red">@TempData["Msg"]</span>
<br />
<p>
    <a asp-controller="CakeOrder" asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>Id</th>
        <th>Flavor</th>
        <th>Pokedex</th>
        <th>Qty</th>
        <th>Subtotal</th>
        @if (User.IsInRole("Admin"))
        {
            <th>Created By</th>
        }
        <th>Actions</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Id
            </td>
            <td>
                @item.Flavor
            </td>
            <td>
                @item.Pokedex.Name
            </td>
            <td>
                @item.Qty
            </td>
            <td>
                @String.Format("{0:0.00}", 30 * item.Qty)
            </td>
            @if (User.IsInRole("Admin"))
            {
                <td>@item.UserCodeNavigation.Name</td>
            }
            <td>
                <a asp-action="Update" asp-route-id="@item.Id">Update</a>
                <a asp-action="Delete" asp-route-id="@item.Id" onclick="return ConfirmDelete()">Delete</a>
                <a asp-action="PrintOrder" asp-route-id="@item.Id" target="_blank">Print Order</a>

            </td>
        </tr>
    }
</table>
<!-- 19047572 Konada Obadiah Nahshon-->