@model IEnumerable<CourseMangement.Models.ApplicationUser>

@using Microsoft.AspNetCore.Identity
@using CourseMangement.Models;
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager



@{
    var currentuser = await UserManager.GetUserAsync(User);
    var name = "";
    var rolename = "";
    var userid = 0;
    var roles = new List<string>();
    if (currentuser != null)
    {
        name = currentuser.FullName;
        rolename = currentuser.RoleName;
        userid = currentuser.Id;
        var ilist = await UserManager.GetRolesAsync(currentuser);
        roles = ilist.ToList();

    }

    var issignin = SignInManager.IsSignedIn(User);

}

<h1>USERS </h1>

<p>
    <a class="btn btn-outline-warning" asp-action="Create">Create New</a>
</p>
<div style="border-width:1px">
    <table class="table table-hover table-bordered" id="t1">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Status
                </th>
                <th>
                    Role
                </th>
                <th>
                    Date of Birth
                </th>
                <th>
                    Joining Date
                </th>
                <th>
                    User Name
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserStatus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RoleName)
                    </td>
                    <td>
                        @item.DOB.ToString("dd MMM yyyy")
                    </td>

                    <td>
                        @item.Joiningdate.ToString("dd MMM yyyy")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>

                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $('#t1').DataTable({
            /* No ordering applied by DataTables during initialisation */
            "order": []
        });


    });
</script>